/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
	color: $text-dark;
}

a:hover,
a:focus,
a:active {
	color: $text-dark__hover;
}
