/*--------------------------------------------------------------
## Z-index
--------------------------------------------------------------*/

.site-header{
  z-index: 2;
}
.site-content{
  z-index: 1;
}

.entry-header{
  img{
    z-index: 1;
  }
}

.entry-header__wrapper{
  z-index: 2;
}
